@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply font-serif;
  }
  .btn {
    @apply flex justify-center items-center h-[50px] px-8 text-white font-semibold uppercase;
  }
  .btn-icon {
    @apply flex justify-center items-center w-[50px] h-[50px] text-2xl text-white;
  }
  .btn-accent {
    @apply bg-accent text-white  hover:bg-accent-hover transition-all;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover transition-all;
  }
  .nav-link {
    @apply relative cursor-pointer text-[17px] w-fit md:block after:block after:content-['']
         after:absolute after:h-[3px] after:bg-accent after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
          after:duration-300 after:origin-center hidden;
  }
}


/*new thing*/
